{% extends 'default.html.twig' %}
{% block body %}
    <h1>Modification profil</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
{% endblock %}