{% extends 'default.html.twig' %}
{% block body %}
    <h1>Réponses de la catégorie</h1>
    <h2><span class="text-primary">{{ nameCat }}</span></h2>
    <ol>
        <ul>{{ score }} / {{ nbr_question }}</ul>
    </ol>
{% endblock %}